p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

$color-code-background: #272822;
$color-code-color: #f8f8f2;

code {
    background-color: $color-code-background !important;
    color: $color-code-color !important;
    border-radius: 0.3em !important;
    padding: 4px 5px 6px !important;
    white-space: nowrap! important;
}

/*  ==============================================================================
                        Base16 - DarkViolet Color Scheme                      
    ==============================================================================
    Style from the "Base16 - DarkViolet Color Scheme" syntax highlighting theme.
    ------------------------------------------------------------------------------
*/
a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #000 };
    color: #b08ae6;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #7a7c7d;  padding-left: 4px; }
div.sourceCode
  { color: #b08ae6; background-color: #432d59; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span. { color: #a82ee6; } /* Normal */
code span.al { color: #95da4c; } /* Alert */
code span.an { color: #593380; } /* Annotation */
code span.at { color: #2980b9; } /* Attribute */
code span.bn { color: #3daee9; } /* BaseN */
code span.bu { color: #7f8c8d; } /* BuiltIn */
code span.cf { color: #b08ae6; } /* ControlFlow */
code span.ch { color: #3daee9; } /* Char */
code span.cn { color: #a82ee6; } /* Constant */
code span.co { color: #3daee9; } /* Comment */
code span.cv { color: #a886bf; } /* CommentVar */
code span.do { color: #7E4FAE; } /* Documentation */
code span.dt { color: #2980b9; } /* DataType */
code span.dv { color: #a82ee6; } /* DecVal */
code span.er { color: #da4453; } /* Error */
code span.ex { color: #0099ff; } /* Extension */
code span.fl { color: #b08ae6; } /* Float */
code span.fu { color: #a82ee6; } /* Function */
code span.im { color: #27ae60; } /* Import */
code span.in { color: #c45b00; } /* Information */
code span.kw { color: #a82ee6; } /* Keyword */
code span.op { color: #a82ee6; } /* Operator */
code span.ot { color: #4595e6; } /* Other */
code span.pp { color: #4595e6; } /* Preprocessor */
code span.re { color: #2980b9; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #f29df2; } /* SpecialString */
code span.st { color: #b08ae6; } /* String */
code span.va { color: #b08ae6; } /* Variable */
code span.vs { color: #4595e6; } /* VerbatimString */
code span.wa { color: #0f0; } /* Warning */


.Rchunk {
  background-color: #000 !important;
}

.Rout {
  background-color: #000 !important;
}

/* --------------Two columns--------------- */

.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 200px; /* chrome, safari */
  -moz-columns: 2 200px;    /* firefox */
}


.side-by-side {
  display: flex;
}

.side1 {
  width: 40%;
}

.side2 {
  width: 58%;
  margin-left: 1rem;
}

/* --------------Even split- two columns--------------- */

.split {
  display: flex;
}

.split1 {
  width: 50%;
  padding-right: 20px;
}

.split2 {
  width: 50%;
}

/* -------Clipboard copy button --------- */
.copy {
  width: inherit;
  background-color: #e2e2e2;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
}

/* for new copy button */

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book-summary ul.summary li.divider {
    height: 0px;
}

/* In-page TOC */

.page-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}

.page-toc {
float: right;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 20px !important;
font-size: smaller;
}

.page-toc ul {
  padding-left: 20px;
}

.page-toc > ul {
padding-left: 0;
}

.page-toc li {
  list-style: none;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
  border-radius: 15px;
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
  border-radius: 15px;
}

/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
  background-color: #133454;
}

.hero-image {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.page-inner {
  padding-top: 400px !important;
}

/* Hint Block Formatting */

div.tip, div.hat{
  border: 4px #aed6d963;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #2ea8b3;
  background-color: #fcfcfc;
}

div.tip {
  background-image: url("./img/divs/lightbulb.png");
}

div.hat {
  background-image: url("./img/divs/hat.png");
}

div.formula {
  border: 4px #aed6d963;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #1B98A8;
  background-color: #fcfcfc;
  background-image: url("./img/divs/gotcha.png");
}

div.def {
  border: 4px #FFE5D1;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  /*padding-left: 100px;*/
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: black;
  background-color: #fcfcfc;
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #1B98A8;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #1B98A8; /* darker color when hovering */
text-decoration: none;
}

/* all TOC list items, basically */
.summary a:hover {
  color: #1B98A8 !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #1B98A8 !important;
  border-left: solid 4px;
  border-color: #1B98A8;
  padding-left: 11px !important;
}  

/* text highlighting */

mark.def {
  background-color: #FFE5D1;
  font-weight: bold;
}
mark.quest {
  background-color: #CEEDEE;
  font-weight: bold;
}

mark.example {
  background-color: #daecec; /*#57c1c5;*/
  color: black;
  font-weight: bold;
}

